venv/
.env/

__pycache__/
*.pyc

# Logs gerados
output/logs/*
!output/logs/.gitkeep

# Tabelas geradas
output/tables/*
!output/tables/.gitkeep

# Arquivos temporários
output/temp/*
!output/temp/.gitkeep