venv/
.env/

__pycache__/
*.pyc

# Logs gerados
output/logs_debug/*
!output/logs_debug/.gitkeep

# Tabelas geradas
output/tables/*
!output/tables/.gitkeep

# Arquivos temporários
output/temp/*
!output/temp/.gitkeepteste.txt

output/logs_error/*
!output/logs_error/.gitkeep